<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>login_servlet_page</display-name>
    <servlet-name>login_servlet_page</servlet-name>
    <servlet-class>controller_servlets.login_servlet_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login_servlet_page</servlet-name>
    <url-pattern>/login_servlet_page</url-pattern>
  </servlet-mapping>
  <display-name>Programming_Square</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register_servlet_page</display-name>
    <servlet-name>Register_servlet_page</servlet-name>
    <servlet-class>controller_servlets.Register_servlet_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_servlet_page</servlet-name>
    <url-pattern>/Register_servlet_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Newpost_servlet_page</display-name>
    <servlet-name>Newpost_servlet_page</servlet-name>
    <servlet-class>controller_servlets.Newpost_servlet_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Newpost_servlet_page</servlet-name>
    <url-pattern>/Newpost_servlet_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile_servlet_page</display-name>
    <servlet-name>Profile_servlet_page</servlet-name>
    <servlet-class>controller_servlets.Profile_servlet_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile_servlet_page</servlet-name>
    <url-pattern>/Profile_servlet_page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home_servlet_page</display-name>
    <servlet-name>Home_servlet_page</servlet-name>
    <servlet-class>controller_servlets.Home_servlet_page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home_servlet_page</servlet-name>
    <url-pattern>/Home_servlet_page</url-pattern>
  </servlet-mapping>
</web-app>